.LOGO{
    width: 50px;
    height: 50px;
}
.scenery{
    height: 350px;
    width: 370px;
    margin-top:120px;
    margin-left:450px;
}
body{
    margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.extracloud{
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: 380px;
    left: 200px;
}
.firstpage{
    background-color:#DEF5E5;
    margin: 0px;
}
.firstsection{
    margin-top: 0;
    margin-right: 90px;
    font-family: 'Dancing Script', cursive;
    position:absolute;
    left: 500px;
    font-size: 50px;
    top: 110px;
}
.webdesigner{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left:480px;
    font-size: 20px;
    top:170px;
    margin-left: 25px;
}

hr{
    border-style: none;
border-top-style:dotted;
border-width: 12px;
width:50px;
color: rgb(182, 172, 172);
}
.hiimg{
    width: 200px;
    height: 200px;
    margin-left: 550px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.Hii{
   margin-left: 610px;
   font-family: 'Itim', cursive;
   font-size: 40px;
   color: rgb(183, 78, 78);
}
.real{
    margin-left: 350px;
    font-family: 'Merriweather', serif;
}
.myskills{
    font-family: 'Itim', cursive;
    color:rgb(183, 78, 78);
    font-size: 40px;
    margin-bottom: 150px;
    margin-left: 550px;
    margin-top:100px;
}
.codeimg{
    width:180px;
    height: 150px;
    margin-left: 170px;
    float: left;
    margin-right: 70px;
    margin-left: 20px;
}
h6{
    font-family: 'Itim', cursive;
    font-size: 40px;
    color: rgb(183, 78, 78);
    margin-top:20px;
    margin-bottom:20px;
}
.skillrow1{
    margin-bottom:30px;
}
p{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
.skill2{
    margin-top: 190px;
}
.devlopment{
    margin-left: 780px;
}
.seconddivider{
    margin-top: 70px;
}
.thirdsection{
    margin-top: 110px;
    margin-left: 530px;
}
.thirddivider{
    margin-top: 150px;
}
.thirdsection{
    margin-bottom: 50px;
}
.finalsection{
    margin-top: 100px;
    margin-left: 510px;
    margin-bottom: 40px;
}
.finaldivider{
    margin-top:100px;
}
.finalbox{
    background-color: #DEF5E5;
    
}
.instagram{
    width: 73px;
    height: 73px;
    margin-left: 545px;
    margin-bottom: 35px;
    
}
.facebook{
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: 48px;
}
.github{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 48px;
}
.hello{
    margin-left: 485px;
    margin-top: 0;
}
.images{
    display: block;
    height: 40px;
    width: 40px;
}
/*.navbar{
    position: sticky;
    height: 50px;
    width: 1260px;
    background-color: pink;
}*/
/*
.middlesection{
    background-color: rgb(235, 230, 230);
}
*/
/*
.hiisection{
    background-color: rgb(235, 230, 230);
}*/