*{
  margin: 0;
  padding: 0;
}

.firstpage{
  background-color: #E4F5E5;
}
.extracloud{
  width: 145px;
  height: 130px;
  position: relative;
  bottom: 65px;
  left: 280px;
}
.greetings{
  font-family: 'Dancing Script', cursive;
   position: relative;
  top: 120px;
  right: 80px;
  text-align: center;
  font-size: 20px;
}
.scenery{
  width: 420px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 75px;
  
}

 hr{
  border-style:none ;
  border-top-style: dotted;
  border-width: 25px;
  width: 120px;
  color: silver;
  margin-left: auto;
  margin-right: auto;
} 
.hiimg{
 width: 150px;
 height: 150px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 /* display: block;
 margin-left: auto;
 margin-right: auto;
border-radius: 29px;
box-shadow: 2px 4px 8px 0px; */
}
.Hii{
  margin-left: 47%;
  margin-right: 53%;
  font-family: 'Shantell Sans', cursive;
  color:#A75D5D;
}
.real{
  font-family: 'Merriweather', serif;
}
.myskills{
  display: inline-block;
  position: relative;
  left: 570px;
  font-family: 'Shantell Sans', cursive;
  color:#A75D5D;
}
.codeimg{
  width:200px;
  height: 180px;
  float: left;
  margin:30px;
}
.skill1{
  font-size: 20px;
  color: #A75D5D;
  font-family: 'Merriweather', serif;
}
p{
  font-family: 'Merriweather', serif;
  font-size: 15px;
}
.skillrow1{
  position: relative;
  top:85px;
}

.skill2{
  display: inline;
  font-family: 'Merriweather', serif;
  color: #A75D5D;
  font-size: 17px;
}
.img2{
display: inline;
width: 240px;
height: 260px;
float: left;
margin: 70px;
position: relative;
top: 210px;
left: 270px;
}
.devlopment{
display: inline-block;
position: relative;
top: 390px;
left: 240px;
}
.thirddivider{
 position: relative;
 bottom: 100px;
 right: 320px; 
}
.thirdsection{
  font-size: 20px;
  font-family: 'Shantell Sans', cursive;
  color: #A75D5D;
  position: relative;
  right: 50px;
  bottom: 20px;
}
.ttt{
  position: relative;
  right: 280px;
}

.third{
  position: relative;
  top: 700px;
}
.myButton {
  position: relative;
  top: 70px;
  right: 70px;
	box-shadow: 0px 15px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:19px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:rgb(102, 177, 74);
	background-color:rgb(68, 167, 88);
}
.myButton:active {
	position:relative;
	top:1px;
}
.finalbox{
  position: relative;
  top: 900px;
}
.instagram{
  width: 100px;
  height: 100px;
position: relative;
top: 20px;
right: 70px;
}
.facebook{
  width: 65px;
  height: 65px;
position: relative;
right: 60px;
}
.github{
  width: 65px;
  height: 65px;
position: relative;
right: 40px;
}
.finalsection{
  font-size: 20px;
  font-family: 'Shantell Sans', cursive;
  color: #A75D5D;
}
.finaldivider{
  position: relative;
top: 850px;
right: 320px;
}
.finalbox{
  position: relative;
  top:1000px;
  right: 40px;
  height: 250px;
  background-color: #E4F5E5;
  width: 1303px;
}
.hello{
  display: inline;
  position: relative;
  left: -280px;
  top: 70px;
}
@media (min-width:300px) and (max-width:699px){
  .firstpage{
    width: 1300px;
    height: 350vh;
  }
  .extracloud{
    width: 180px;
    height: 160px;
    position: relative;
  bottom:-200px;
  }
  .scenery{
    height: 1000px;
    width: 1080px;
    position:relative;
    top: 585px;
  }
  .greetings{
    position: relative;
    top: 590px;
  }
  h1{
   font-size: 65px;
  }
  h2{
   font-size: 50px;
  }
  hr{
    position: relative;
    left:460px;
  }
  .hiimg{
    position: relative;
    left: 480px;
    top: 100px;
    height: 250px;
    width: 250px;
  }
  .Hii{
   position: relative;
   left: 400px;
   top: 150px;
   font-size: 60px;
  }
  .real{
    position: relative;
    top: 200px;
    left: 470px;
    font-size: 25px;
  }
  .rrr{
    position: relative;
    top: 300px;
  }
  .middlesection{
     position: relative;
     top: 500px;
  }
  .myskills{
    position: relative;
   bottom: 100px;
  }
  .codeimg{
    position: relative;
    left: 400px;
    width: 500px;
    height: 500px;
  }
  .skillrow1{
    position: relative;
    top: 150px;
    left: 500px;
  }
.skill1{
position: relative;
left: 95px;
font-size: 45px;

}
.details2{
  font-size: 25px;
  text-align: center;
}
.img2{
  width: 500px;
    height: 500px;
    position: relative;
    left: 400px;
}
.devlopment{
  position: relative;
  left: 500px;
}
.skill2{
  font-size: 45px;
}
.det2{
  font-size: 25px;
  text-align: center;
  position: relative;
  right: 50px;
}
.third{
  position: relative;
  top: 1300px;
  left: 550px;
}
.thirdsection{
  font-size: 45px;
  position: relative;
  left: -20px;
}
.thirddivider{
  position: relative;
  top: 600px;
}
.ttt{
  font-size: 25px;
  position: relative;
  left: -80px;
}
.myButton{
position: relative;
left: 50px;
}
.finalbox{
  position: relative;
  top: 1500px;
}
.finalbox{
  width: 1350px;
  height: 350px;
}
/* .finaldivider{
  position: relative;
  right: 400px;
} */
.finalsection{
  font-size: 40px;
  margin-left:600px;
  padding-top: 50px;
}
.instagram{
position: relative;
left: 605px;
top: 60px;
}
.facebook{
  position: relative;
  left: 605px;
  top: 40px;
}
.github{
  position: relative;
  left: 615px;
  top: 38px;
}
.hello{
  position: relative;
  left: 380px;
  top: 100px;
}
}
