*{
    margin: 0;
    padding: 0;
    
  }
  .firstpage{
    background-color: #E4F5E5;
  }
  .extracloud{
    width: 145px;
    height: 130px;
    position: relative;
    bottom: 65px;
    left: 280px;
  }
  .greetings{
    font-family: 'Dancing Script', cursive;
     position: relative;
    top: 140px;
    right: 80px;
    text-align: center;
    font-size: 20px;
  }
  .scenery{
    width: 420px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 25px;
  }
  @media (min-width:700px) and (max-width:1000px) {
    .extracloud{
   
    position: relative;
    left: 55px;
   }
   }
  /* this design is for mobile dimensions */
  @media (min-width:300px) and (max-width:699px){
   .firstpage{
    width: 100%;
    height: 641px;
   }   
    .extracloud{
    width: 95px;
    height: 85px;
    position: relative;
    bottom: 30px;
    left: 10px;
    top: 5px;
    }
    .scenery{
        height: 350px;
        width: 320px;
       position: relative;
       top:120px;
    }
    .greetings{
        font-size:15px;
        position: relative;
        top: 210px;
        margin-left: 70px;   
    }
  }
   hr{
    border-style:none ;
    border-top-style: dotted;
    border-width: 25px;
    width: 120px;
    color: silver;
    margin-left: auto;
    margin-right: auto;
  } 
  .hiimg{
   width: 150px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
  .Hii{
    margin-left: 49%;
    margin-right: 51%;
    font-family: 'Shantell Sans', cursive;
    color:#A75D5D;
  }
  .real{
    font-family: 'Merriweather', serif;
  }
   @media (min-width:300px) and (max-width:699px){
    .firstpage{
      width: 106.50%;
      height: 641px;
     }   
    .Hii{
      margin-left: 47%;
      margin-right: 53%;
     }
  } 
  @media (min-width:700px) and (max-width:1000px){
    .Hii{
      margin-left: 47%;
      margin-right: 53%;
    }
  }
  .myskills{
    margin-left: 47%;
    font-family: 'Shantell Sans', cursive;
    color:#A75D5D;
  }
  .codeimg{
    width:200px;
    height: 180px;
    float: left;
    margin:30px;
  }
  .skill1{
    font-size: 20px;
    color: #A75D5D;
    font-family: 'Merriweather', serif;
  }
  p{
    font-family: 'Merriweather', serif;
    font-size: 15px;
  }
  .skillrow1{
    position: relative;
    top:85px;
  }
  
  .skill2{
    display: inline;
    font-family: 'Merriweather', serif;
    color: #A75D5D;
    font-size: 17px;
  }
.img2{
  display: inline;
  width: 240px;
  height: 260px;
  float: left;
  margin: 70px;
  position: relative;
  top: 210px;
  left: 270px;
}
.devlopment{
  display: inline-block;
  position: relative;
  top: 390px;
  left: 240px;
}
@media (min-width:700px) and (max-width:826px){
.firstpage{
  width: 850px;
}
  .codeimg{
  margin-left: 38%;
  margin-right: 62%;
}
.skill1{
  text-align: center;
}
.details2{
  text-align: center;
}
.myskills{
  position: relative;
  
}
.img2{
  width: 40%;
  height: 40%;
  position: relative;
  top: 70px;
  left: 150px;
}
.codeimg{
  
  width: 35%;
  height: 35%;
  position: relative;
  right: 35px;
}
.devlopment{
  
  position: relative;
  top: 80px;
}
.det2{
 position: relative;
 left: -50px;
}
.skill2{
  position: relative;
  left: 60px;
}
}
@media (min-width:827px) and (max-width:1000px){
  .codeimg{
    margin-left: 38%;
    margin-right: 62%;
  }
  .skill1{
    text-align: center;
  }
  .details2{
    text-align: center;
  }
  .myskills{
    position: relative;
    
  }
  .img2{
    width: 40%;
    height: 40%;
    position: relative;
    top: 70px;
    left: 200px;
  }
  .codeimg{
    
    width: 35%;
    height: 35%;
    position: relative;
    right: 35px;
  }
  .devlopment{
    
    position: relative;
    top: 520px;
    left: -160px;
  }
  .det2{
   position: relative;
   left: -50px;
  }
  .skill2{
    position: relative;
    left: 60px;
  }
}
@media (min-width:300px) and (max-width:580px){ 
  body{
    width:300px; 
   }
  .firstpage{
    width: 580px;
    height: 700px;
    
  }
  hr{
    position: relative;
    left: 140px;
    top: 30px;
  }
  .hiimg{
    margin-left: 200px;
  }
  .Hii{
    margin-left: 240px;
    font-size: 35px;
  }
  .real{
    position: relative;
    left: 130px;
    font-size: 18px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
  .myskills{
    position: relative;
    left: 65px;
    top: 60px;
    font-size: 28px;
  }
  .codeimg{
    position: relative;
    top: 60px;
    left: 130px;
    width: 250px;
    height: 220px;
  }
  .skillrow1{
    position: relative;
    left: 130px;
  }
  .skill1{
    margin-left: 30%;
  }
  .details2{
    text-align: center;
    font-size: 18px;
  }
  .img2{
    position: relative;
    left:90px;
    width: 300px;
    height: 280px;
  }
  
  .skill2{
    text-align: center;
    font-size: 18px;
  }
  .det2{
    position:relative;
    right: 80px;
  }
  .devlopment{
    position: relative;
    top: 220px;
  }
  .det2{
    font-size: 18px;
    text-align: center;
  }
}
 @media (min-width:581px) and (max-width:699px){
  .firstpage{
    width: 800px;
  }
  .greetings{
    position: relative;
    right:170px;
    font-size: 20px;
  }
  .scenery{
    position: relative;
    right: 0px;
    top: 60px;
    width:350px;
    height: 350px;
  }
  .extracloud{
    width:140px;
    height: 120px;
    
  }
  hr{
    position: relative;
    left: 40px;
  }
  .codeimg{
    position: relative;
    top: 60px;
    left: 190px;
  }
  .skillrow1{
    position: relative;
    top: 330px;
  }
  .details2{
    text-align: center;
    position: relative;
    right: 105px;
  }
  .img2{
 
  }
  .devlopment{
    position: relative;
    top:230px;
    /* right: 150px; */
  }
  .det2{
    position: relative;
    left: -180px;
  }
 }
